* {
    padding: 0%;
    font-family: leaguegothicregular;
}

@font-face {
    font-family: leaguegothicregular;
    src: url(LeagueGothic-CondensedRegular.otf);
}

body{
    margin: auto;
}

.desenvolvimento {
    background-image: url('img/imgDes.png');
    display: flex;
    width: 1440px;
    height: 1000px;
}

.desenvolvimentotext {
    display: flex;
    flex-direction: column;
    margin-right: 800px;
    margin-top: 150px;
    margin-left: 15px;
}

.desenvolvimentotext > h1 {
    color: #D9A23D;
    font-family: sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.desenvolvimentotext > p {
    display: flex;
    margin-top: 70px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 650px;
}
.contbrpuro {
    display: flex;
    width: 1440px;
    height: 1000px;
    background-image: url(img/brasilpuro.png);
    color: #D9A23D;
}

.afrobr {
    display: flex;
    width: 1440px;
    height: 1000px;
    background-image: url(img/afrobr.png);
    color: #D9A23D;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 40px;
}

.text {
    display: flex;
    flex-direction: column;
    height: 510px;
    width: 665px;
    padding: 84px;
    padding-left: 60px;
}

#afbr {
    height: 695px;
    width: 755px;
    gap: 53px;
}

