* {
    padding: 0%;
    margin: 0;
    font-family: leaguegothicregular;
}

@font-face {
    font-family: leaguegothicregular;
    src: url(LeagueGothic-CondensedRegular.otf);
}
body {
    background-color: rgba(13, 13, 13, 1);
}
.transparencia {
    background: #000000AB;
    width: 1440px;
    height: 1000px;
}

.desenvolvimento > div{
    background: #000000AB;
    width: 1440px;
    height: 1000px;
}
.desenvolvimento {
    background-image: url('img/imgDes.png');
    display: flex;
    width: 1440px;
    height:1000px;
    margin: auto;
}

.desenvolvimentotext {
    display: flex;
    flex-direction: column;
    margin-right: 800px;
    margin-top: 150px;
    margin-left: 15px;
}

.desenvolvimentotext > h1 {
    color: #D9A23D;
    font-family: sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: ;
}

.desenvolvimentotext > p {
    display: flex;
    margin-top: 70px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 650px;
}
.contbrpuro {
    display: flex;
    width: 1440px;
    height: 1000px;
    background-image: url(img/brasilpuro.png);
    color: #D9A23D;
    margin: auto;
}

.afrobr {
    display: flex;
    width: 1440px;
    height: 1000px;
    background-image: url(img/afrobr.png);
    color: #D9A23D;
    margin: auto;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 40px;
}

.text {
    display: flex;
    flex-direction: column;
    height: 510px;
    width: 665px;
    padding: 84px;
    padding-left: 60px;
}

#afbr {
    height: 695px;
    width: 755px;
    gap: 53px;
}

.figurasHistoricas {
    background-color: #0D0D0D;
    width: 1440px;
    height: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.figurasHistoricas > h1{
    color: #D9A23D;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 73px;
}


.cardsimg > div > figure > img{
    width: 350px;
    height: 350px;
    background-color: #FFF;
}

.cardsimg {
    display: flex;
}

.card {
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 500px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.card > div >  p{
    color: #e9151500;
}

.footerimg{
    background-color: #0D0D0D;
    height: 300px;
    width: 1440px;
    margin: auto;
    
}
.footerimg > img {
    margin-left: 20px;
}

.perguntaMotivadora {
    width: 1440px;
    height: 500px;
    background-image: url('img/introduçao.png');
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.perguntaMotivadora > h1 {
    color:#D9A23D;
}
.perguntaMotivadora > p {
    color: white;
    margin: 20px;

}
.DesenvlvimentoPergunta {
    width: 1440px;
    height: 1024px;
    background-image: url('img/pergunta.png');
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.DesenvlvimentoPergunta > h1 {
    color: #D9A23D;
}
.DesenvlvimentoPergunta {
    color: white;
}
.hero {
    width: 1440px;
    height: 1000px;
    background-image: url('img/hero.png');
    margin: auto;
}